<div class="outer">
  <div class="mycontainer">
    <div class = "img">
      </div>
    <div class="alertWrapper">
     
      <div class="alert alert-danger"  [class.show]="showErrorMessageAlert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        {{ errorMessage }}
      </div>
    </div>
      <div class="row">
      
        <div class="panel bg-white">
          <!-- <div class="panel heading pb-5 " style="text-align: center; color: blue;"> -->
            
            <h2 class="pt-2 font-weight-bold">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
              </svg>
              Login</h2>
           
          <!-- </div> -->
          <div class="mypanel-body">
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="loader-overlay" *ngIf="loaderservice.isLoading$ | async">
                <div class="loader"></div>
              </div>
              <div class="form-group pt-2">
                <div class="input-field">
                  <span class="fa fa-user p-2" style="color: black;"></span>
                  <input type="text" placeholder="Email" (keyup)="onEmailKeyUp()" formControlName="email" >
                </div>
                <span class="help-block" *ngIf="showEmailAlert">{{errorMessage}}</span>
                
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2" style="color: black;"></span>
                  <input type="password" placeholder="Password" formControlName="password">
                </div>
              </div>
              <button type="submit" class="btn btn-secondary btn-sm mt-4 w-100" [disabled]="loginForm.invalid">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

