/* You can add global styles to this file, and also import other style files */
html, body 
{
   height: 100%;
}
body 
{
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.sliding-img
{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('src/PortalSVGUpdated.png');
    background-size: 300px 300px;
    background-repeat: repeat;
    animation: slide 20s linear infinite;
    opacity: 0.2;

}


@keyframes slide {
  0% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 0;
  }
}

  .cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,0.8) !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid darkcyan;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.help-block
{
  color:red !important;
}